<div class="content">
    <!-- Latest News && FC INFO-->
    <div class="contentTitle2">
        <div class="container">

            <div class="title-left">
                <div class="inline-title logoIcon"></div>
                <div class="subTitle">
                    <div class="inline-title text-white"> REDUX</div>
                    <div class="inline-title text-blue"> GUIDES</div>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <p style="text-align: center; font-size: 16px; color: white; margin: 50px; font-family: 'Muli', sans-serif;">Comming Soon</p>
    </div>
</div>