<div class="headerbg">
  <div class="menubg">
    <div class="container">
      <div class="leftMenu">
        <a href="https://eu.finalfantasyxiv.com/lodestone/freecompany/9237023573225357164/" class="menuLink">LODESTONE</a>
        <a href="https://www.fflogs.com/guild/rankings/51768/latest/" class="menuLink">FFLOGS</a>
        <a href="https://discord.gg/azHUj5" class="menuLink">DISCORD</a>
      </div>
      <div class="rightMenu">
        <a class="menuLink" routerLink="home" routerLinkActive="active">HOME</a>
        <a routerLink="teams" routerLinkActive="active" class="menuLink">RAID TEAMS</a>
        <a routerLink="info" routerLinkActive="active" class="menuLink">INFO</a>
        <a href="/beta" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSdoI-PsP4DQVM5IxG4JgsuRoY1ibCe2BDnSvopZWT1RlJRoTw/viewform');" class="menuLink">APPLY</a>
      </div>
    </div>
  </div>
  <div class="logo">&nbsp;</div>
</div>
<router-outlet></router-outlet>