<div class="content">
    <!-- Latest News && FC INFO-->
    <div class="contentTitle2">
        <div class="container">

            <div class="title-left">
                <div class="inline-title logoIcon"></div>
                <div class="subTitle">
                    <div class="inline-title text-white"> REDUX</div>
                    <div class="inline-title text-blue"> RAIDTEAMS</div>
                </div>
            </div>

        </div>
    </div>


    <div class="container">

        <div class="teamBox">
            <div class="left">
                <div class="teamName_first">U. <span class="teamName_last">N.</span></div>
                <div class="prog">World Progression Hardcore</div>
                <div class="teamInfo">This is our HC World Progression raid team! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere nibh, ac tristique nulla. Mauris lectus ligula, imperdiet sit amet suscipit sit amet, sagittis a nunc. Cras volutpat posuere massa, sit amet feugiat enim pellentesque a.</div>
            </div>
            <div class="right2">
                <div class="player">
                    <div class="melee"></div>
                    <p>Tohka <span class="text-blue">Asvarre</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="melee"></div>
                    <p>Lyralei <span class="text-blue">Windranger</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="ranged"></div>
                    <p>Snow <span class="text-blue">Lynx</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="caster"></div>
                    <p>Sayo <span class="text-blue">Kuroshita</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>
            </div>
            <div class="right1">
                <div class="player">
                    <div class="tank"></div>
                    <p>Aleo <span class="text-blue">Izzle</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="tank"></div>
                    <p>Directx <span class="text-blue">Error</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="healer"></div>
                    <p>Serah <span class="text-blue">Asvarre</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="healer"></div>
                    <p>Mina <span class="text-blue">Vari</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>
            </div>
        </div>



        <div class="teamBox">
            <div class="left">
                <div class="teamName_first">Lukewarm <span class="teamName_last">IQ</span></div>
                <div class="prog">Hardcore</div>
                <div class="teamInfo">Integer convallis sollicitudin luctus. Aliquam dictum massa leo, sed iaculis odio placerat sit amet. Mauris viverra pretium dui eget pharetra. Nullam placerat varius tortor at consectetur.</div>
            </div>
            <div class="right2">
                <div class="player">
                    <div class="melee"></div>
                    <p>Stale <span class="text-blue">Memes</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="melee"></div>
                    <p>Eleth <span class="text-blue">Enoka</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="ranged"></div>
                    <p>Reformed <span class="text-blue">Roogeri</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="caster"></div>
                    <p>Galveira <span class="text-blue">Vorfeed</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>
            </div>
            <div class="right1">
                <div class="player">
                    <div class="tank"></div>
                    <p>Unlucky <span class="text-blue">Baker</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="tank"></div>
                    <p>Jin <span class="text-blue">Aniki</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="healer"></div>
                    <p>Zamaruki <span class="text-blue">Starhallow</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="healer"></div>
                    <p>Mica <span class="text-blue">Meister</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>
            </div>
        </div>



        <div class="teamBox">
            <div class="left">
                <div class="teamName_first">Soviet <span class="teamName_last">Propaganda</span></div>
                <div class="prog">Semi-Hardcore</div>
                <div class="teamInfo">Wipefests with Creamy Nuts, yeah boii. Aenean facilisis massa in tortor cursus, id sollicitudin nulla fermentum. Aenean id ornare arcu. Ut venenatis ullamcorper eleifend. Ut pharetra interdum elit a tempus. Curabitur at finibus est. Maecenas non augue tincidunt, convallis dui at, vehicula orci.</div>
            </div>
            <div class="right2">
                <div class="player">
                    <div class="melee"></div>
                    <p>Louise <span class="text-blue">Cuvelia</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="melee"></div>
                    <p> <span class="text-blue"></span></p>
                    <!--<img src="./../../assets/images/fflogs.png">-->
                </div>

                <div class="player">
                    <div class="ranged"></div>
                    <p>Hong <span class="text-blue">Meiling'</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="caster"></div>
                    <p>Hash <span class="text-blue">Brown</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>
            </div>
            <div class="right1">
                <div class="player">
                    <div class="tank"></div>
                    <p>Rena <span class="text-blue">Wolf</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="tank"></div>
                    <p>Livingdead <span class="text-blue">Is-shit</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="healer"></div>
                    <p>Creamy <span class="text-blue">Nuts</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="healer"></div>
                    <p>Anty <span class="text-blue">Fan</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>
            </div>
        </div>



        <div class="teamBox filthycasuals">
            <div class="left">
                <div class="teamName_first">Filthy <span class="teamName_last">Casuals</span></div>
                <div class="prog">Semi-Hardcore</div>
                <div class="teamInfo">The Legends, the Myth, The Filthy Casuals, a Semi-hardcore group focussed on Savages and Ultimate content. Recently cleared The Unending Coil of Bahamut and ready for Patch 5.2 and future ultimates.</div>
            </div>
            <div class="right2">
                <div class="player">
                    <div class="melee"></div>
                    <p>Allen <span class="text-blue">Grenseal</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="melee"></div>
                    <p>Snae <span class="text-blue">Lilac</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="ranged"></div>
                    <p>Akemi <span class="text-blue">Akuma</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="caster"></div>
                    <p>Mica <span class="text-blue">Takimoto</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>
            </div>
            <div class="right1">
                <div class="player">
                    <div class="tank"></div>
                    <p>Badga <span class="text-blue">Badgarok</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="tank"></div>
                    <p>Morienne <span class="text-blue">Gailrayne</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="healer"></div>
                    <p>Nemini <span class="text-blue">Falh</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>

                <div class="player">
                    <div class="healer"></div>
                    <p>Gurepu <span class="text-blue">Mizuki</span></p>
                    <img src="./../../assets/images/fflogs.png">
                </div>
            </div>
        </div>



    </div>
    <div class="highlight_spacer"></div>
</div>