<div class="content">
    <!-- Member Streams Bar -->
    <div class="contentTitle">
        <div class="container">
            <div class="inline-title logoIcon"></div>
            <div class="subTitle">
                <div class="inline-title text-white"> MEMBER</div>
                <div class="inline-title text-blue"> STREAMS</div>
            </div>
        </div>
    </div>
    <div class="streamsbg">
        <div class="container">

            <div id="twitch1" class="twitch"></div>
            <div id="twitch2" class="twitch"></div>
            <div id="twitch3" class="twitch"></div>
            <div id="twitch4" class="twitch"></div>

        </div>
    </div>

    <!-- Latest News && FC INFO-->
    <div class="contentTitle2">
        <div class="container">

            <div class="title-left">
                <div class="inline-title logoIcon"></div>
                <div class="subTitle">
                    <div class="inline-title text-white"> REDUX</div>
                    <div class="inline-title text-blue"> FC</div>
                </div>
            </div>

        </div>
    </div>


    <div class="subtitle">
        <div class="whoisHead">WHAT IS <span class="blue bold">REDUX</span>?</div>
    </div>

    <div class="container">
        <p class="text-white">
            REDUX was founded during the Stormblood expansion by Creamy Nuts our beloved asian leader. We are
            here to provide a home for hardcore, and semi-hardcore statics to discuss and explore new end-game
            content. We strive to have a healthy atmosphere, and continue to push ourselves to achieve even
            better results than before.
        </p>

        <p class="text-white">Our free company is filled with theorycrafters, speedrunners and people who like
            to take the game a little more seriously than they should! We also have a big family of crafters and
            gatherers to support us in progression and farm, and social members to keep us all sane when another
            discussion about cooldowns and rotations might push you over the edge.
        </p>

        <div class="center" style="margin-top: 35px;">
            <span class="btn btn-one"
                onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSdoI-PsP4DQVM5IxG4JgsuRoY1ibCe2BDnSvopZWT1RlJRoTw/viewform');">APPLY
                TO REDUX NOW</span>
        </div>

    </div>

    <div class="subtitle2">
        <div class="whoisHead">LATEST <span class="blue bold">NEWS</span></div>
    </div>

    <div class="highlight_spacer">
        <div class="container">

            <div class="news-left">
                <div class="news-content">
                    <div class="newsImg"
                        style="background: url('https://gamespot1.cbsistatic.com/uploads/original/1574/15747411/3632824-r2-1024x576.png') no-repeat">
                    </div>

                    <h1 class="newsTitle">Prepguide for Patch 5.2</h1>
                    <p class="newsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra
                        molestie arcu vitae placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        Phasellus feugiat velit ut nulla pharetra, sed placerat erat sodales. Quisque porta justo orci,
                        eu vestibulum leo egestas ut.</p>

                </div>
            </div>
            <div class="news-middle">
                <div class="news-content">
                    <div class="newsImg"
                        style="background: url('https://hardcore-gamer.s3.amazonaws.com/uploads/2019/12/FFXIV5point2Ann-Image005-570x321.jpg') no-repeat">
                    </div>

                    <h1 class="newsTitle">First look at new savages!</h1>
                    <p class="newsText">Integer id dictum libero, et ullamcorper erat. Vestibulum pretium, est a
                        elementum scelerisque, velit massa ornare ante, nec ornare nisi purus in dolor. Mauris viverra
                        odio eu iaculis dictum. Mauris semper tristique tempor. Mauris lacinia pulvinar ullamcorper.
                    </p>

                </div>
            </div>
            <div class="news-right">
                <div class="news-content">
                    <div class="newsImg"
                        style="background: url('https://www.pcgamesn.com/wp-content/uploads/2020/02/final-fantasy-14-patch-52-release-date-580x334.jpg') no-repeat">
                    </div>

                    <h1 class="newsTitle">New questline in patch 5.2</h1>
                    <p class="newsText">Quisque id elit auctor, varius magna in, cursus lacus. Ut neque urna, eleifend
                        quis lorem non, consectetur volutpat quam. Ut ultrices eget sem a pharetra. Morbi efficitur
                        sollicitudin nunc, sit amet feugiat ligula accumsan vitae. Nunc accumsan justo id cursus
                        accumsan.</p>

                </div>
            </div>

        </div>
    </div>



</div>