<div class="content">
    <!-- Latest News && FC INFO-->
    <div class="contentTitle2">
        <div class="container">

            <div class="title-left">
                <div class="inline-title logoIcon"></div>
                <div class="subTitle">
                    <div class="inline-title text-white"> REDUX</div>
                    <div class="inline-title text-blue"> APPLICATION</div>
                </div>
            </div>

        </div>
    </div>



    <div class="subtitle">
        APPLICATION INFORMATION
    </div>
    <div class="container">
        <div class="apply-info">
            Some text you want to read before you actually send in an application?
        </div>
    </div>

    <div class="subtitle">
        REDUX APPLICATION FORM
    </div>
    <div class="container">
        <div class="apply-form">

            <div class="field">
                <label for="character_name">Ingame Character name?</label><br>
                <input type="text" id="character_name" name="character_name">
            </div>

            <div class="field">
                <label for="discord_id">What is your Discord ID?</label><br>
                <input type="text" id="discord_id" name="discord_id">
            </div>

            <div class="field">
                <label for="talking">Are you okay with talking on Discord?</label><br>
                
                <select id="talking" name="talking">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    <option value="maybe">Maybe</option>
                  </select>
            </div>

            <div class="field">
                <label for="raidlogging">Are you raidlogging?</label><br>
                <select id="raidlogging" name="raidlogging">
                    <option value="no">No</option>
                    <option value="During Content Drought">During Content Drought.</option>
                    <option value="Holidays">Only during Holidays.</option>
                    <option value="Completed Goal">After I achieved personal goals.</option>
                  </select>
            </div>

            <div class="field">
                <label for="gamegoal">What is your goal in game?</label><br>
                <input type="text" id="gamegoal" name="gamegoal">
            </div>

            <div class="field">
                <label for="whoareyou">Tell us about who you are!</label><br>
                <textarea id="whoareyou" name="whoareyou" rows="10"></textarea>
            </div>

            <div class="field">
                <label for="previous_fc">Previous FC's <small>(Reasons for leaving?)</small></label><br>
                <textarea id="previous_fc" name="previous_fc" rows="10"></textarea>
            </div>

            <div class="field">
                <label for="ready_crafting">Are you willing to gear up crafters before raid patchdays? <small>(For crafters only!)</small></label><br>
                <select id="ready_crafting" name="ready_crafting">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
            </div>

            <div class="field">
                <label for="started_raiding">When did you start raiding? <small>(For raiders only!)</small></label><br>
                <input type="text" id="started_raiding" name="started_raiding">
            </div>

            <div class="field">
                <label for="housing">Would you take care of chocobo's and Housing?</label><br>
                <select id="housing" name="housing">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
            </div>

            <div class="field">
                <label for="more_info">Anything else you would want to tell us?</label><br>
                <textarea id="more_info" name="more_info" rows="10"></textarea>
            </div>

            <div class="field">
                <label for="housing">What does "REDUX" mean?</label><br>
                <select id="housing" name="housing">
                    <option value="toilet_cleaner">Toilet Cleaner</option>
                    <option value="Call of Duty Clan">Call of Duty Clan</option>
                    <option value="Latin Word">Some Latin Word I never heard of..</option>
                    <option value="Is that the last metro game?">Is that the last metro game?</option>
                    <option value="Return, Revive">Return, Revive</option>
                    <option value="Asians Assemble">Asians Assemble</option>
                  </select>
            </div>

        </div>
    </div>

    <div class="highlight_spacer"></div>
        
</div>